{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}
    <div id="top" class="dessert_container bg" style="text-align: center;">
        <div class="dessert_text">
          <h2><b>Season’s Restaurant</b></h2>
          <h3><b>DUBLIN</b></h3><br>
          <h3><b>DESSERT MENU</b></h3><br>

          <h4><b>Creole Pecan Pie</b></h4>
          <h5> w/ whipped cream</h5>
          <h4><b>€10.50</b></h4>
          <h4><b>Banoffee Pie</b></h4>
          <h5> shortbread & pecan crust layered<br> w/ caramel
            & bananas topped w/ whipped cream</h5>
            <h4><b>€9.75</b></h4>
            <h4><b>Strawberry-Coconut Pie</b></h4>
            <h5>coconut cream filling topped w/ fresh glazed strawberries,<br>
                served w/ vanilla lime sauce</h5>
                <h4><b> €9.50</b></h4>
                <h4><b> Dark Chocolate & Peanut Butter Stack</b></h4>
                <h5>devil’s food cake w/ peanut butter mousse,
                    peanut crunch & <br>dark chocolate ganache
                    served w/ housemade peanut butter ice cream</h5>
                    <h4><b>€10.50</b></h4>
                    <h4><b>White Chocolate & Strawberry Layer Cake</b></h4>
                        <h5>w/ white chocolate cream cheese frosting
                            served<br> w/ vanilla ice cream</h5>
                            <h4><b>€12.00</b></h4>
                            <h4><b>Milk Chocolate Cream Pie</b></h4>
                            <h>rich milk chocolate pudding
                                on a dark chocolate cookie <br>crust
                                served w/ vanilla whipped cream</h>
                                <h4><b>€10.00</b></h4>
                                <h4><b>Apple-Spice Jelly Roll</b></h4>
                                <h5>apple butter & spiced molasses cake
                                    served<br> w/ homemade cream cheese ice cream
                                    & hot mulled cider sauce.</h5>
                                    <h4><b>€10.50</b></h4>
                                    <h4><b>Bartlett Pear Crisp</b></h4>
                                    <h5>w/ oat, coconut & almond topping,
                                        served warm<br> w/ homemade buttermilk
                                        caramel ice cream</h5>
                                        <h4><b>€11.50</b></h4>
                                        <h4><b>Red Velvet Layer Cake</b></h4>
                                        <h5> w/ cream cheese frosting
                                            served w/ vanilla ice cream</h5>
                                            <h4><b>€10.50</b></h4>





                                    </div>
                                </div>

                                <!--=====================Footer==================-->
{% endblock %}