{% extends 'base.html' %}
{%  load bootstrap_tags %}
{% block content %}
    <div id="top" class="Lunch_container bg" style="text-align: center">
        <div class="lunch_text">
         <h2><b> Season’s Restaurant</b></h2>
         <h3><b>LUNCH MENU</b></h3>
         <h3><b>STARTERS</b></h3>
         <b><h4>Vegetable Soup with VM Breads </h4></b><h4>(V) (C)</h4><br>
         <h4>Prawn Cocktail Plate with Sauce Marie Rose</h4>
         <h4>Lemon Pepper Chicken, Cherry Tomato, Crouton, Baby Gem Lettuce <br> & Parmesan Salad with Caesar Dressing </h4><h4>(C, No croutons)</h4><br>
         <h4>Wonton of Castlemine Farm Pork Shoulder Confit,<br> Vegetable & Chicken with Curried Chick Peas, Glenisk Organic<br> Natural Yoghurt, Pickled Red Onion & Cucumber</h4><br><br><br>
         <h3><b>MAINS</b></h3>
         <h4>Braised Shank of Irish Lamb with Root Vegetable <br>Espagnole & Gremolata</h4>
         <h4>Irish Free Range Chicken with Wild Mushroom Barley <br>Ragout, Wild Garlic, Roast Butternut Squash & Celeriac & <br>Chicken Wing Jus </h4><h4>(C)</h4>
         <h4>Herterich's of Longford Pork Fillet Scaloppini, <br>Salad of Feta Cheese, Cherry Tomato, Onion & Pickled Vegetables,<br> Villa Monodori Aged Balsamic</h4>
         <h4>Pan Fried Tory Island Hake with Beetroot & Mushroom<br> Ragout, Roast Pepper Gel & Rocket Salad</h4><h4> (C)</h4>
         <h4>John Stone Aged Feather Blade of Beef,<br> 48 Hrs at 64C with Peppercorn Courvoisier Sauce,</h4>
         <h4>Horseradish Potato & Crispy Onions (C No Onions)<br>
          Celeriac Lasagna with Vegetable Provencale, Rucola & Herb Oil </h4><h4>(V)</h4>
          <h5>Tea / coffee
          €49.00
          Children's Lunch menu available at €25.00<br><br></h5>


      </div>
  </div>
</div>


<!--=====================Footer==================-->

{%  endblock %}