{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}
   <div class="container">
	<div class="row">
		<div class="col-lg-3 col-sm-6">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="" src="{% static 'images/vish.jpg' %}" style="line-height: 1.5;">
                </div>
                <div class="info">
                    <div class="title" style="font-size: 20px;">
                        <a target="_blank" href="#">Vishal Dara</a>
                    </div><br><br>
                    <div class="desc" style="font-size: 18px; line-height: 1.5;">Head Chef</div>
                    <div class="desc" style="font-size: 18px;">Celler's Restauurant</div>

                </div><br><br>
                <div class="bottom">
                    <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/vishaldara" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" rel="publisher"
                       href="https://myaccount.google.com/?utm_source=OGB&pli=1" target="_blank">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="btn btn-primary btn-sm" rel="publisher"
                       href="https://www.facebook.com/vishal.dara" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                     <a class="btn btn-primary btn-sm" rel="publisher"
                       href="https://www.linkedin.com/in/vishal-dara-0b40052b?trk=hp-identity-name" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a>

                </div>
            </div>

        </div>

	</div>
</div>
{% endblock %}