
{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}
    <!--=====================
              Content
    ======================-->
                               <form method="post" class="form-horizontal" action="">
                    {% csrf_token %}
                    {{ form |as_bootstrap_horizontal}}

 <button class="btn btn-primary reservation-message-sent" href="#" style="margin-left: 50%;">Submit</button>
{#        <button class="submit" type="button" style="margin-left: 40%; color:black; background-color: green;" onclick="postmessage(Message-sent)">Submit</button>#}


    </form>
    <br>
{% endblock %}
<!--==============================
              footer
=================================-->


