{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}

    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" style="text-align: center">
                    Voucher Types
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">

                <img class="img-responsive" src="{% static 'images/voucher1.jpg'%}" alt="Afternoon-Tea" style="width: 700px; height: 400px!important;">
                </a>
            </div>
            <div class="col-md-5">
                <h3 style="font-size: 25px;text-align: center;">Celler's Art Afternoon Tea</h3>

                <p style="font-size: 20px; text-align: center;line-height: 1.5;"><span>This certificate from Celler's, Dublin’s famous Restaurant includes the following:
                       Art Afternoon Tea for two in our Celler's Drawing Rooms</span></p>
                <strong style="font-size: 22px; text-align: center;">€60.00</strong> <a class="btn btn-primary add-to-cart" href="#">Add to cart <span
                    class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="row">
            <div class="col-md-7">
                <!-- <a href="#"> -->
                <img class="img-responsive" src="{% static 'images/voucher2.jpg'%}" alt="Afternoon"style="width: 700px; height: 400px!important;">
                </a>

            </div>
            <div class="col-md-5">
                <h3 style="font-size: 25px; text-align: center;">The Celler's Gift of Choice</h3>

                <p style="font-size: 20px; text-align: center; line-height: 1.5;">This monetary voucher can be redeemed at Celler's Restaurant for your choice of romantic
                    dinner, Celler's to indulgent Afternoon Tea, Vintage Wine's the only dilemma - which to choose!</p>

                <select style="font-size: 22px">
                    <option value="€100.00">€100.00</option>
                    <option value="€200.00">€200.00</option>
                    <option value="€300.00">€300.00</option>
                    <option value="€400.00">€400.00</option>
                    <option value="€500.00">€500.00</option>
                    <option value="€600.00">€600.00</option>
                    <option value="€700.00">€700.00</option>
                    <option value="€800.00">€800.00</option>
                    <option value="€900.00">€900.00</option>
                    <option value="€1000.00">€1000.00</option>
                </select>
                <a class="btn btn-primary add-to-cart" href="#">Add to Cart <span
                        class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Three -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="{% static 'images/voucher3.jpg'%}" alt="" style="width: 700px; height: 400px!important;">
                </a>
            </div>
            <div class="col-md-5">
                <h3 style="font-size: 25px;text-align: center;line-height: 1.7em;">Dine & Dream at Celler's</h3>

                <p style="font-size: 20px; text-align: center; line-height: 1.5;">This certificate from Celler's Dublin’s most stylish five star hotel includes the following:
                    • One night's accommodation in a luxurious double room in the Garden Wing
                    • Full Irish Breakfast the next morning
                    • A three course dinner for two people from our 'House Menu' in The Cellar's Restaurant</p>
                <strong style="font-size: 22px">€98.00</strong>
                <a class="btn btn-primary add-to-cart" href="#">Add to Cart <span
                        class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Four -->
        <div class="row">

            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="{% static 'images/5.jpg'%}" alt="" style="width: 700px; height: 400px!important;">
                </a>
            </div>
            <div class="col-md-5">
                <h3 style="font-size: 25px;text-align: center;">Sunday Brunch for 2 in Celler's Restaurant</h3>

                <p style="font-size: 20px; text-align: center;line-height: 1.5;">This certificate from The Celler's, Dublin’s most luxurious five star services includes the following:

                    • Sunday Brunch for two in The Cellar Bar
                    • 2 course Brunch for two people, including a glass of Mimosa each</p>
                <strong style="font-size: 22px">€65.00</strong>
                <a class="btn btn-primary add-to-cart" href="#">Add to Cart <span
                        class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Five -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="{% static 'images/big3.jpg' %}" alt="" style="width: 700px; height: 400px!important;">
                </a>
            </div>
            <div class="col-md-5">
                <h3 style="font-size: 25px;text-align: center; line-height: 1.5;">Lunch for 2 in Celler's Restaurant</h3>

                <p style="font-size: 20px; text-align: center;">This certificate from Celler's Dublin’s most luxurious five star hotel includes the following:
                    • Lunch for two people in The Cellar Restaurant
                   • Includes 3 courses and a specially chosen bottle of wine
                </p>
                <strong style="font-size: 22px">€65.00</strong>
                <a class="btn btn-primary add-to-cart" href="#">Add to Cart<span
                        class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
    </div>

<br>
{% endblock %}